<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="font-family: Arial; background:#f5f6fa; display:flex; justify-content:center; align-items:center; height:100vh;">

<div style="background:white; padding:40px; border-radius:10px; box-shadow:0 5px 20px rgba(0,0,0,0.1); width:350px;">

    <h2 style="text-align:center; margin-bottom:20px;">Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit"
                style="width:100%; padding:10px; background:#3498db;
                       border:none; color:white; border-radius:6px;">
            Entrar
        </button>
    </form>

</div>

</body>
</html>